@nodeBorderColor: #ccc;
@nodeBackgroundColor: #ddd;

#node-field {
  position: relative;
  width: 100%;
}

.node {
  position: absolute;
  background-color: @nodeBackgroundColor;
  border: 1px solid @nodeBorderColor;
  .border-radius(5px);
}
