@textColor: #333;

body {
	color: @textColor;
	background-image:url(/img/tiny_grid.png);
	background-repeat:repeat;
	padding: 12px;
}

h1 {
	color: @textColor;
	font-size: 38.5px;
	font-family: "Ubuntu", sans-serif;
	line-height: 40px;
	margin: 0;

	small {
		color: lighten(@textColor, 30%);
		font-weight: normal;
		font-size: 70%;
	}
}