<!DOCTYPE html>
<html lang="en">
  <head>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>
    {{#stylesheet_bundle}}/css/all.css{{/stylesheet_bundle}}
    <title>davidrhayes.com</title>
  </head>
  <body>
    <h1>
      David R. Hayes
      <small>Turing machine wrangler</small>
    </h1>
  </body>
</html>
